/* public/css/login.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
}

h2 {
    font-size: 24px;
}

.form-group {
    margin: 10px 0;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #1877f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #155aee;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #1877f2;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}